body{
margin:0;
padding:0;
background-color: rgb(247, 247, 247);
}
#black_background{
width:100%;
height:100%;
background-color:black;
opacity: 0.7; 
filter: alpha(opacity=70); 
position:fixed;
z-index:99997 ;
}

#light_box_area{
height: 100%;
width: 100%;
z-index: 99999;
position: fixed;
overflow-y: scroll;
margin-top:150px;
}
#light_box_area img{
width:100%;
}
#alerti{
text-align:center;
  position: fixed;
  background-color: white;
  width: 270px;
  padding: 10px;
  border-radius: 4px;
  left: 50%;
  top: 20%;
  margin-left: -145px;
}

#alerti_text{
font-size: 18px;
  font-family: Arial;
  color: rgb(42, 42, 42);
}
#alerti_okay{
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  background-color: rgb(208, 208, 208);
  width: 120px;
  padding: 4px;
  border-radius: 3px;
  color: black;
  font-family: Arial;
  font-size: 19px;
}
#banner{
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    z-index: 99999;
    border-bottom: 1px solid #e2e2e2;
    display: inline-block;
    padding-bottom: 6px;
    padding-top: 8px;
    position: fixed;
}
.b_c{
    width: 304px;
    margin: auto;
    text-align: left;
}
.b{
    display:inline-block;
    text-align: left;
	width:100%;
	height: 30px;
}
#logo{
display:inline-block;
float:left;
}
.user_banner{
width:200px;
height:auto;
float:right;
margin-top: 10px;
}
a{
text-decoration:none;
}
#user_name{
float:left;
width:170px;
display:inline-block;
}
#buttons{
position: relative;
    width: 170px;
    float: right;
    background-color: white;
    box-shadow: 0px 3px 4px #cacaca;
    margin-right: -32px;
    margin-top: 2px;
    display: none;
}
#button{
padding: 8px;
    font-family: arial;
    color: rgb(27, 98, 168);
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #f0f0f0;
    cursor: pointer;
    width: 152px;
    display: inline-block;
    text-decoration: none;
}
#set_button {
    float: right;
    color: black;
    font-size: 15px;
    font-family: arial;
    font-weight: bold;
}
#slide_down, #slide_down1 {
    background: url('../img_files/slide_down1.png');
    background-size: 16px;
    background-position: center;
    height: 21px;
    width: 18px;
    background-repeat: no-repeat;
    float: right;
    margin-top: 9px;
    margin-right: 5px;
    cursor: pointer;
    display: inline-block;
}
#login_link{
    width: 95px;
    float: right;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #efefef;
    border-bottom: 1px solid #cacaca;
    border-radius: 3px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    font-family: Arial;
    color: #d00000;
    padding: 5px;
    background-color: #ffffff;
}
#noscript{
width: 800px;
height: auto;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 20px;
margin-bottom: 25px;
padding: 10px;
background-color: white;
text-align: center;
font: 20px Arial;
color: red;
text-shadow: 1px 1px 1px rgb(240,240,240);
border: 1px solid red;
box-shadow: 0px 1px 2px rgb(230,230,230);
line-height: 1.5;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px 10px 10px 10px;
}


#show_the_fire{
    width: 100%;
    z-index: 99;
    height: auto;
    padding-top: 122px;
    padding-bottom: 10px;
    background-color: rgb(240, 240, 240);
}
#s_f_center{
    height: auto;
    margin: auto;
    font-size: 15px;
    width: 310px;
    color: black;
	padding-top: 13px;
    font-family: Arial;
    text-align: center;
}
#s_f_center b{
  font-family: Arial;
  color: rgb(20, 49, 142);
  }


#map_holder{
height: 200px;
    width: 100%;
  margin: auto;
  background-color: white;
}

#map_area{
height: 200px;
position:relative;
}

#place_info{
    width: 310px;
    height: auto;
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
    border-radius: 3px;
    min-height: 230px;
    margin: -17px auto 10px auto;
    position: relative;
}
#place_image{
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 200px;
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
}
#place_images {
    margin-bottom: 10px;
    display: inline-block;
    float: left;
    width: 100%;
	text-align:center;
	background-color: #f7f7f7;
    border-bottom: 1px solid #f0f0f0;
}
#p_img_small {
    height: 40px;
    width: 40px;
    background-size: cover;
    margin: auto;
    display: inline-block;
}

#place_name{
    font-family: Arial;
    font-size: 23px;
    text-align: center;
    color: rgb(60, 60, 60);
    margin: 10px 0px;
    display: inline-block;
    width: 100%;
}

#route{
    float: right;
    border-bottom: 2px solid #149475;
    margin: 5px 5px 0 0px;
}
#r_fav_area{
    width: 220px;
    padding: 5px;
    background-color: #f7f7f7;
    display: inline-block;
   margin: 10px 40px;
}
#add_fav{
    float: left;
    margin: 5px 0 0 5px;
    border-bottom: 2px solid #5786ea;
}
#route,#add_fav{
width: 100px;
    height: 17px;
    color: #676767;
    text-align: center;
    font-family: arial;
    font-size: 12px;
    cursor: pointer;
    padding: 6px 0px 3px 0px;
    background-color: white;
}
#shop_adress{
    font-size: 13px;
    color: #353535;
    padding: 10px;
    text-align: center;
    font-family: Arial;
    display: inline-block;
}
#i_name {
text-align: left;
    float: left;
    font-size: 16px;
    width: 50px;
    color: #3c3c3c;
}
#i_value {
    float: right;
    color: #d00000;
    width: 235px;
    text-align: left;
    font-weight: bold;
    font-size: 15px;
}
#exp_yields {
background: white;
    margin: 0px 0px 20px 0px;
    padding: 30px 10px 10px 10px;
    text-align: center;
}
#exp_y_title {
    color: #777777;
    font-size: 16px;
    font-family: Arial;
    margin-bottom: 4px;
    font-weight: bold;
}
#exp_pro_center{
    width: 300px;
    margin: auto;
}
#left,#right{
    background-size: 23px;
    background-position: center;
    height: 43px;
    width: 28px;
    padding: 5px;
    border-radius: 5px;
    background-repeat: no-repeat;
    z-index: 999;
    position: relative;
    background-color: #ffffff;
    border: 1px solid #ececec;
    margin-bottom: -1000px;
    margin-top: 40px;
    cursor: pointer;
}
#left{
    background-image: url('../img_files/left.png');
	float: left;
}
#right{
    background-image: url('../img_files/right.png');
	float:right;
}
#example_products{
    margin: 0px auto 0px auto;
    overflow-x: scroll;
    width: 300px;
}
#yield_show {
display: inline-block;
    width: 100px;
    margin: 4px;
    padding: 3px;
    float: left;
    cursor: pointer;
}
#e_y_icon {
    width: 60px;
    height: 60px;
    margin-right: 3px;
    padding: 4px;
}
#yield_show_text {
    font-family: arial;
    font-size: 15px;
    text-align: center;
    color: black;
}

#exp_y{
    display: inline-block;
    margin: 0px auto 20px auto;
    padding: 0px 40px;
    width: 2300px;
}
#events_area {
    margin: auto;
    padding-bottom: 40px;
    min-height: 210px;
    color: rgb(92, 92, 92);
    font-size: 18px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 30px;
}

#all_search_area{
    width: 300px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

#search_area_c {
    margin: auto;
    width: 300px;
    display: inline-block;
}

#loc_area {
    display: inline-block;
    width: 300px;
    margin: 0px auto 10px auto;
    height: 30px;
}
#loc_c {
    border: 2px solid #333333;
    width: 300px;
    display: inline-block;
    border-radius: 3px;
    height: 34px;
    box-sizing: border-box;
}
#loc_icon {
    background: url(../img_files/p_loc_marker2.png);
    background-size: 19px;
    background-position: center;
    height: 32px;
    width: 34px;
    background-repeat: no-repeat;
    float: left;
    z-index: 999;
}
#q_address {
    display: inline-block;
    float: left;
    overflow: hidden;
    font-size: 15px;
    text-align: center;
    width: 230px;
    border-radius: 3px;
    font-weight: bold;
    color: #333333;
    padding-top: 8px;
    font-family: arial;
}
#search_area {
    width: 300px;
    float: right;
}
#p_search_result_area {
    width: 298px;
    z-index: 9999;
    height: auto;
    background-color: white;
    float: right;
    box-shadow: 0px 7px 14px #d0d0d0;
    border: 1px solid #c8c8c8;
    border-bottom: 1px solid #bdbdbd;
    border-top: none;
    position: relative;
    display: none;
}

#search_in_place_input_outline {
    border: 2px solid rgb(208, 0, 0);
    background-color: white;
    box-sizing: border-box;
    height: 34px;
    border-radius: 3px;
}

#search_in_place_input {
    width: 280px;
    font-size: 14px;
    margin-top: 6px;
    margin-left: 7px;
    outline: none;
    border: none;
    font-weight: bold;
    font-family: arial;
}

#search_text_box {
    background-color: white;
    display: inline-block;
    box-sizing: border-box;
    height: 34px;
    border: 2px solid #333333;
    border-radius: 3px;
    width: 300px;
}

#y_icon {
    width: 32px;
    height: 32px;
    background-size: 26px;
    background-position: center;
    float: left;
    background-repeat: no-repeat;
    margin-right: 3px;
}

#search_text_box_text {
    padding: 3px;
    width: 221px;
    border-radius: 3px;
    margin-top: 6px;
    font-weight: bold;
    color: #363636;
    float: left;
    font-size: 16px;
    font-family: arial;
    text-transform: capitalize;
	text-align: center;
}
#search_text_box_exit {
    float: right;
    width: 25px;
    height: 25px;
    margin-left: 3px;
    margin-right: 4px;
    margin-top: 3px;
    background-image: url(../img_files/close.png);
    background-size: 24px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
	background-color:white;
}


#search_in_place_area {
    padding: 10px 0px 10px 0px;
    margin: auto;
    background-color: #f1f1f1;
    text-align: center;
}
#search_explain_text {
    margin: 0px 15px 10px 15px;
    font-size: 15px;
    font-family: Arial;
    color: #5a5a5a;
}

#p_search_result_area ul {
    border-bottom: 1px solid #e8e8e8;
    padding: 7px 2px;
    background-color: white;
    cursor: pointer;
    color: black;
    font-weight: bold;
    margin: 0px;
    font-size: 20px;
    z-index: 999;
    position: relative;
    text-align: center;
}

#show_area{
text-align:center;
}
#product_title {
    font-size: 19px;
    color: #3c3c3c;
    padding: 10px 0px 5px 0px;
    text-align: center;
    margin: auto;
    text-transform: capitalize;
	    width: 300px;
}
#product_title img {
    height: 16px;
    margin-bottom: -3px;
    background: #eaeaea;
    margin-right: 7px;
    padding: 4px;
    border-radius: 2px;
}
#floor_num {
    width: 313px;
    color: #d00000;
    text-shadow: 0px 1px 1px #e8e8e8;
    text-align: center;
    font-weight: bold;
    background-color: #eaeaea;
    border-left: 7px solid #d00000;
    font-size: 24px;
    padding: 4px 0px;
    font-family: arial;
    margin: 10px auto 5px auto;
}
#p_shop {
    display: inline-block;
    background: #eaeaea;
    padding: 5px;
    margin: 4px;
    width: 228px;
    font-size: 21px;
    font-family: arial;
    text-shadow: 0px 1px 1px #e4e4e4;
    color: black;
    border: 1px solid #eaeaea;
    border-bottom: 1px solid #d0d0d0;
    cursor: pointer;
}
#p_shop_ic {
    float: left;
    background-image: url('../img_files/shopping.png');
    width: 25px;
    height: 25px;
    background-size: 25px;
    background-repeat: no-repeat;
    position: absolute;
}
select {
    color: rgb(60, 60, 60);
    font-size: 13px;
    font-family: arial;
    outline: none;
    border: 1px solid orange;
    padding: 4px;
    border-radius: 2px;
}
#s_floor {
    color: #a2a2a2;
    padding: 3px;
    text-align: center;
    background-color: whitesmoke;
    font-size: 14px;
    font-family: arial;
    float: right;
    border-radius: 10px;
    display: inline;
}




